html, body {
    height: 100%;
}

/*Typography*/
body {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    color: #00a7e1;
    font-size: 1em;
    line-height: 1.5;
    padding: 0 8%;
    margin: 0;
    background-color: #003460;
}

h1 {
    font-size: 8rem;
    margin: 8% 0 0 0;
    animation: squiggly-anim 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

p {
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    float: left;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
}

a:link {
    color: #a7d154;
}

a:visited {
    color: #a7d154;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #00a7e1;
}

.material-icons {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 1rem;
}

/*Layout*/
body {
    display: flex;
    flex-direction: column;
}

article {
   flex: 1 0 auto;
   margin-bottom: 2rem;
}

footer {
    flex: 0 0 auto;
    margin-bottom: 2rem;
}

footer p {
    font-size: 1rem;
}

.pattern {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    z-index: -1;
    background: url("background.svg") 0 0;
    animation: squiggly-anim 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.fish {
    position: absolute;
    display: block;
    width: 96px;
    height: 64px;
    background: url("fish.svg") 0 0 no-repeat;
    animation: squiggly-anim 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite, fish-anim 3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

/*Effect*/
@keyframes squiggly-anim {
    0% {
        filter: url('#squiggly-0');
    }

    25% {
        filter: url('#squiggly-1');
    }

    50% {
        filter: url('#squiggly-2');
    }

    75% {
        filter: url('#squiggly-3');
    }

    100% {
        filter: url('#squiggly-4');
    }
}

@keyframes fish-anim {
	0% { 
        background-position: 0 64px;
    }

    50% { 
        background-position: 0 0;
    }

	100% { 
        background-position: 0 64px;
    }
}

/*Mobile*/

@media (max-width: 960px) { 
    h1 {
        font-size: 12vw;
    }
}

